label{
    float: left;
    width: 30%;
    text-align: left;
    margin:0.5%;
}

input {
   max-width: 65%;
  float: centre;
}

.menu,.App{
  text-align: center;
}

.background{
  background-image: url('FSM.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 665px;
}